* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.underline {
    height: 3px;
    background-color: #ff9f43;
    margin-top: 2px;
    border: 0;
}

.margin-tb-10 {
    margin: 10px 0;
}

.botao {
    background: rgb(255, 155, 131);
    background: -moz-linear-gradient(
        180deg,
        rgba(255, 155, 131, 1) 0%,
        rgba(255, 50, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(255, 155, 131, 1) 0%,
        rgba(255, 50, 0, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(255, 155, 131, 1) 0%,
        rgba(255, 50, 0, 1) 100%
    );

    -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 1);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9b83",endColorstr="#ff3200",GradientType=1);
    border: 0;
    padding: 18px 30px;
    border-radius: 17px;
    margin-top: 25px;
    color: #fff;
    font-weight: 900;
}
