* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.underline {
    height: 3px;
    background-color: #ff9f43;
    margin-top: 2px;
    border: 0;
}
