#principal {
    height: fit-content;
    min-height: 100vh;
}

#image-1,
#image-2,
#image-3 {
    height: 100vh;
    background-position: top;
    background-size: cover;
}

#image-1 {
    background-image: url("../img/header.jpg");
}

#image-2,
#image-3 {
    padding: 70px 0 70px 0;
}

#image-2 {
    background-image: url("../img/thor_header.jpg");
    height: 85vh;
    color: #fff;
}

#image-3 {
    background-image: url("../img/bonecos.png");
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: center left;
    height: 85vh;
}

#image-2 h1,
#image-3 h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}

#image-2 .underline,
#image-3 .underline {
    margin: 8px auto 0 auto;
    height: 4px;
    width: 100px;
}

#image-2 .underline {
    background-color: #fff;
}

#image-3 .underline {
    background-color: #ff9f43;
}

.container-text {
    display: flex;
    justify-content: flex-end;
    padding: 40px 40px 0 0;
    text-align: justify;
    line-height: 1.7;
}

.container-text .text {
    width: 45%;
    font-size: 20px;
}
